<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./lib/js/vue.js"></script>
	<script src="./lib/js/vue-resource1.5.1.js"></script>
	
	<link rel="stylesheet" href="./lib/css/bootstrap.css">
</head>
<body>
	<div id="app">
		<div class="panel panel-primary">
			  <div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
			  </div>
			  <div class="panel-body form-inline">
					<label>
						Name: <input type="text" v-model="name" class="form-cnotrol">
					</label>
					<input type="button" value="添加"  class="btn btn-primary" @click='add'>
			  </div>
		</div>

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>name</th>
					<th>Ctime</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in list" :key="item.id">
					<td>{{item.node_id}}</td>
					<td>{{item.username }}</td>
					<td>{{item.ctime | formatDate}}</td>
					<td><a href="" @click.prevent="del(item.id)">删除</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script>
	//配置前缀
	Vue.http.options.root = 'http://t.locujwt.com/vue/';
	Vue.http.options.emulateJSON = true;
	// 全局过滤器
	var vm = new Vue({
		el : '#app',
		data : {
			name : '',
			list : '',
		},
		filters : {
			formatDate: function(time){
				let date = new Date(time*1000);
		        let y = date.getFullYear();
		        let MM = date.getMonth() + 1;
		        MM = MM < 10 ? ('0' + MM) : MM;
		        let d = date.getDate();
		        d = d < 10 ? ('0' + d) : d;
		        let h = date.getHours();
		        h = h < 10 ? ('0' + h) : h;
		        let m = date.getMinutes();
		        m = m < 10 ? ('0' + m) : m;
		        let s = date.getSeconds();
		        s = s < 10 ? ('0' + s) : s;
		        return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
			}
		},
		methods : {
			add() {
				this.$http.post('vue_controller/add',{name: this.name}).then(res=>{
					var result = res.body;
					
					if(result.status == 2000){
						this.getAlllist();
						this.name = '';
						alert(result.msg);
					} else {
						alert('添加失败');
					}
				})
			},
			//获取内容
			getAlllist() {
				this.$http.get('vue_controller/index').then(res=>{
					var result = res.body;
					if(result.status == 2000){
						this.list = result.data;
					}
				})
			},
			del(id) {
 
			}
		},
		created() {
			this.getAlllist()
		}
	})
</script>
</html>