<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./lib/js/vue.js"></script>
	<script src="./lib/js/vue-resource1.5.1.js"></script>
	<link rel="stylesheet" href="./lib/css/bootstrap.css">
	<style>
		.v-enter,
		.v-leave-to {
			opacity: 0;
			transform: translateX(250px);
		}
		.v-enter-active,
		.v-leave-active {
			transition : all 0.4s ease;
		}
		.my-enter-active,
		.my-leave-active {
			transition : all 0.4s ease;
		}
	</style>
</head>
<body>
	<div id="app">
		<input type="button" value="toggle" @click="flag=!flag">
		<transition >
			<h3 v-if="flag">this is </h3>
		</transition><hr>
		<input type="button" value="toggle" @click="flag=!flag">
		<!-- 前缀 -->
		<transition name="my">
			<h3 v-if="flag">this is </h3>
		</transition>
	</div>
</body>
<script>
	var vm = new Vue({
		el : '#app',
		data : {
			flag : false
		},
		methods : {

		}
	})
</script>
</html>